
html,
body {
    margin: 0;
    font-size: 18px;
}

body {
    padding: 0 1rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}



/**
 * Hillcss Layout
 */
[hill-layout*=clear]:after,[hill-layout*=clear]:before,[hill-layout*=row]:after,[hill-layout*=row]:before{content:" ";display:table}[hill-layout*=clear]:after,[hill-layout*=row]:after{clear:both}[hill-layout*=space-top]{margin-top:1.25rem}[hill-layout*=space-right]{margin-right:1.25rem}[hill-layout*=space-bottom]{margin-bottom:1.25rem}[hill-layout*=space-left]{margin-left:1.25rem}[hill-layout*=space-top-2x]{margin-top:2.5rem}[hill-layout*=space-right-2x]{margin-right:2.5rem}[hill-layout*=space-bottom-2x]{margin-bottom:2.5rem}[hill-layout*=space-left-2x]{margin-left:2.5rem}[hill-layout*=float-left]{float:left}[hill-layout*=float-right]{float:right}[hill-layout*=row]{margin-left:-1%;margin-right:-1%}[hill-layout*=row]>[hill-layout*="/"]{float:left;margin-left:1%;margin-right:1%}[hill-layout*="box-1/4"]{display:block;width:23%}[hill-layout*="box-1/2"]{display:block;width:48%}[hill-layout*="box-3/4"]{display:block;width:73%}[hill-layout*="box-1/1"]{display:block;width:98%}[hill-layout*=box-0]{display:none}@media (min-width:481px) and (max-width:992px){[hill-layout*="device-medium-1/4"]{display:block;width:23%}[hill-layout*="device-medium-1/2"]{display:block;width:48%}[hill-layout*="device-medium-3/4"]{display:block;width:73%}[hill-layout*="device-medium-1/1"]{display:block;width:98%}[hill-layout*=device-medium-0]{display:none}}@media (min-width:993px) and (max-width:1280px){[hill-layout*="device-large-1/4"]{display:block;width:23%}[hill-layout*="device-large-1/2"]{display:block;width:48%}[hill-layout*="device-large-3/4"]{display:block;width:73%}[hill-layout*="device-large-1/1"]{display:block;width:98%}[hill-layout*=device-large-0]{display:none}}@media (max-width:480px){[hill-layout*="device-small-1/4"]{display:block;width:23%}[hill-layout*="device-small-1/2"]{display:block;width:48%}[hill-layout*="device-small-3/4"]{display:block;width:73%}[hill-layout*="device-small-1/1"]{display:block;width:98%}[hill-layout*=device-small-0]{display:none}}
